<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="org.apache.ibatis.dao.UserMapper">

    <insert id="insert">
        INSERT INTO user (name,age,birth) VALUES ('Bob',25,'2024-03-29 22:09:07')
    </insert>

    <insert id="insertWithParam">
        INSERT INTO user (name,age,birth) VALUES (#{name},#{age},'2024-03-29 22:09:07')
    </insert>

    <insert id="insertWithoutParam">
        INSERT INTO user (name,age,birth) VALUES (#{name},18,'2024-03-29 22:09:07')
    </insert>

    <insert id="insertWithPOJO">
        INSERT INTO user (name,age,birth) VALUES (#{name},#{age},'2024-03-29 22:09:07')
    </insert>

    <select id="select" resultType="org.apache.ibatis.entity.UserDO">
        SELECT name,name AS namex,age FROM user
    </select>
</mapper>