<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="org.apache.ibatis.dao.UserMapper">

    <insert id="insert">
        INSERT INTO user (name,age,birth) VALUES ('Bob',25,'2024-03-29 22:09:07')
    </insert>

    <insert id="insertWithParam">
        INSERT INTO user (name,age,birth) VALUES (#{name},#{age},'2024-03-29 22:09:07')
    </insert>

    <insert id="insertWithoutParam">
        INSERT INTO user (name,age,birth) VALUES (#{name},18,'2024-03-29 22:09:07')
    </insert>

    <insert id="insertWithPOJO">
        INSERT INTO user (name,age,birth) VALUES (#{name},#{age},'2024-03-29 22:09:07')
    </insert>

    <select id="select" resultType="org.apache.ibatis.entity.UserDO">
        SELECT name,name AS namex,age FROM user
    </select>

    <resultMap id="userResultMap" type="org.apache.ibatis.entity.UserDO">
        <result column="name" property="namex"/>
        <result column="age" property="age"/>
    </resultMap>

    <resultMap id="nestedUserResultMap" type="org.apache.ibatis.entity.UserDTO">
        <result column="user_name" property="name"/>
        <result column="age" property="age"/>
        <collection property="carList" ofType="org.apache.ibatis.entity.CarDO">
            <result column="car_name" property="name"/>
            <result column="color" property="color"/>
        </collection>
    </resultMap>

    <select id="selectResultMap" resultMap="userResultMap">
        SELECT
        user.name,
        user.age
        FROM user
    </select>

    <select id="selectNestedResultMap" resultMap="nestedUserResultMap">
        SELECT
        user.name as user_name,
        user.age,
        car.name  as car_name,
        car.color
        FROM user
        LEFT JOIN user_car_relation relation ON user.id = relation.user_id
        LEFT JOIN car ON relation.car_id = car.id
    </select>

    <select id="listDynamic" resultType="org.apache.ibatis.entity.UserDO">
        SELECT
        name,
        age
        FROM user
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </trim>
    </select>

    <select id="listForeach" resultType="org.apache.ibatis.entity.UserDO">
        SELECT
        name,
        age
        FROM user
        WHERE id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>